@model Contact
@{
    ViewData["Title"] = "Обратная связь";
}

<h1>@ViewData["Title"]</h1>

<form method="post" asp-controller="Contact" asp-action="Check">
    <label asp-for="Name" />
    <input asp-for="Name" />
    <span asp-validation-for="Name" />

    <label asp-for="Surname" />
    <input asp-for="Surname" />
    <span asp-validation-for="Surname" />

    <label asp-for="Age" />
    <input asp-for="Age" />
    <span asp-validation-for="Age" />

    <label asp-for="Email" />
    <input asp-for="Email" />
    <span asp-validation-for="Email" />

    <label asp-for="Message" />
    <input asp-for="Message" />
    <span asp-validation-for="Message" />

    <input type="submit" value="Отправить" />
</form>