@{
    ViewData["Title"] = "Home Page";
}


<div>
    @Html.Raw("<img src=\"data:image/jpeg;base64,"
            + Convert.ToBase64String(ViewBag.img) + "\" />")
</div>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a asp-controller="Club" asp-action="Index">ClubIndex</a>
        <a asp-controller="Club" asp-action="Detail">ClubDetail</a>
        <a asp-controller="Race" asp-action="Detail">Race</a>
    </p>
</div>
