@{
    ViewData["Title"] = "Home Page";
}

<div class="inline" style="background-color: silver">
    <div>
        @Html.Raw("<img style='width:1110px; height:630px;' src=\"data:image/jpeg;base64,"
                + Convert.ToBase64String(ViewBag.img) + "\" />")
    </div>
    <div>
        @await Html.PartialAsync("_AuthPartial")
    </div>
</div>