<div class="inline">
    <div class="inline" style="padding-left: 10px;">
        <p>Все права не защищены - </p>
    </div>
    <div class="inline" style="padding-left: 5px;">
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Права</a>
    </div>
</div>
