@* 
   Чтобы определить параметры маршрута, необходимо после на странице 
   после директивы @page определить шаблон маршрута. Например,
   мы хотим получать из маршрута параметр id:
*@
@page "{id}"

@model _01_Base.Pages.RoutesModel

<h2>Id = @Model.Id</h2>

@* Также можно получить значение параметра непосредственно на странице Index.cshtml: *@
@*@{
    var userid = RouteData.Values["id"];
}

<h2>Id = @userid</h2>
*@