@* 
   Компоновка или layout позволяет задать для приложения некоторый единый шаблон
   и применяется для создания единообразного, унифицированного графического интерфейса.
   
   Компонент компоновки представляет стандартный компонент Blazor,
   который обладает всеми возможностями, что и другие компоненты Blazor,
   но при этом также имеет две особенности:

   1. Компонент компоновки наследуется от класса LayoutComponentBase.
   Данный класс определяет свойство Body, который содержит вложенное 
   содержимое в виде объекта RenderFragment

   2. Компонент компоновки использует выражение @Body для рендеринга 
   вложенного содержимого в определенной части компонента
*@

@*
    Встроенный компонент NavLink применяется для создания ссылок на компоненты.
    В целом этот компонент ведет себя как стандартный html-элемент <a> за тем исключением,
    что он также переключает css-класс active, который позволяет стилизовать текущую активную ссылку.
*@

@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components.Routing  @*для NavLink*@


<style>
    a {
        color: #00897B;
    }
    a.active {
        color: #004D40;
        font-weight: 700;
    }
</style> 

<!--
    С помощью свойства Match класс NavLink позволяет установить, в каком случае
    к ссылке будет применяться класс active.
    Это свойство принимает значение типа NavLinkMatch и может принимать два значения:
    - NavLinkMatch.All: ссылка активна, если ее адрес полностью соответствует адресу текущего компонента.
    - NavLinkMatch.Prefix: ссылка активна, если ее адрес соответствует началу адреса текущего компонента (значение по умолчанию).
-->

<div>
    <div>
        <NavLink Match="NavLinkMatch.All" href="/">Home</NavLink> |
        <NavLink href="/Index">Index</NavLink> |
        <NavLink href="/About">About</NavLink> |
        <NavLink href="/User">User</NavLink> |
        <NavLink href="/Components">Components</NavLink> |
        <NavLink href="/Query">QueryParameters</NavLink> |
        <NavLink href="/Nested">NestedComponents</NavLink> |
        <NavLink href="/Arbitrary">ArbitraryAttributes</NavLink> |
        <NavLink href="/Events">Events</NavLink> |
        <NavLink href="/Child">ChildEvents</NavLink> |
        <NavLink href="/Parent">ParentEvents</NavLink> |
        <NavLink href="/Binding">Binding</NavLink> |
        <NavLink href="/Two">TwoBinding</NavLink> |
    </div>
 
    <div>
        @Body 
    </div>
</div>