@* 
   Компоновка или layout позволяет задать для приложения некоторый единый шаблон
   и применяется для создания единообразного, унифицированного графического интерфейса.
   
   Компонент компоновки представляет стандартный компонент Blazor,
   который обладает всеми возможностями, что и другие компоненты Blazor,
   но при этом также имеет две особенности:

   1. Компонент компоновки наследуется от класса LayoutComponentBase.
   Данный класс определяет свойство Body, который содержит вложенное 
   содержимое в виде объекта RenderFragment

   2. Компонент компоновки использует выражение @Body для рендеринга 
   вложенного содержимого в определенной части компонента
*@

@inherits LayoutComponentBase
 
<div>
    <div>
        <a href="">App</a> | 
        <a href="/Home">Home</a> |
        <a href="/Index">Index</a>
    </div>
 
    <div>
        @Body 
    </div>
</div>