@{
    string head = "Hello World!";               // определяем переменную head
    string text = "ASP.NET Core Application";   // определяем переменную text
}

<!DOCTYPE html>
<html>
<head>
    <title>INDEX</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>@head</h2>      <!-- используем переменную head -->
    <div>@text</div>    <!-- используем переменную text -->
</body>
</html>