<h3>@header</h3>
<h3>@Title</h3>

@code {
    string header = "Домашняя страница";
}

@* Параметры компонентов 
   Теперь компонент содержит одно свойство Title, к которому применяется атрибут [Parameter],
   поэтому это свойство можно назвать параметром компонента.
   Через это свойства компонент может получить извне некоторые данные.

   Следует учитывать, что подобные свойства-параметры должны представлять автосвойства,
   у которых блоки set и get не содержат никакой логики.
*@

@code {
    [Parameter]
    public string Title { get; set; } = "Default title"; 
}

<h2>-------------------------------------------------</h2>
<h2>Количество пользователей: @Count</h2>

<ul>
    @foreach (var user in Users) {
        <li>@user</li>
    }
</ul>

@code {

    [Parameter]
    public List<string> Users { get; set; } = new();

    [Parameter]
    public int Count { get; set; }
}