@* Вызов другого компонента внутри компонента *@
@page "/Nested"
@using _02_Components.Components

<h1>Вложенные компоненты</h1>

<User />
<Home />
<About />

<h1>Передача параметров в компоненты</h1>

<User Name="QWERTY" Age="150" />