@*
    Двусторонняя привязка
    Компоненты Blazor также поддерживают двустороннюю привязку значений и полей ввода. 
    Для этого применяется следующая пара модификаторов:
    - @bind:get - определяет привязанное значение
    - @bind:set - определяет действия, выполняемые при изменении значения.
    Это должен быть метод, который возвращает Task или void

    Модификаторы @bind:get и @bind:set всегда применяются вместе.
*@

@page "/Two"
@using Microsoft.AspNetCore.Components.Web

<h1>Двухсторонняя привязка</h1>

<input type="number" @bind:get="age" @bind:set="SetAge" />

<h2>Age: @age</h2>

@code {
    int age = 18;
    void SetAge(int value) {
        if (value > 0 && value < 110) age = value;
    }
}

